.new-patient-profile {

  .col-box {
    border: 2px solid #5F8D4E;
    border-radius: 10px;
    margin: 0 10px;
  }

  .col-details {
    font-size: 11px;
    margin-top: 3px;
    opacity: 0.7;
  }

  .bottom-text {
    font-size: 18px;
  }

  .bottom-btn {
    width: 150px;
  }
}
