.drop-list {
  color: #5f8d4e;
  font-weight: 500;
  transition: all 0.3s;
}

.drop-list:hover {
  background-color: #5f8d4e;
  color: #fff;
}

.drop-list-delete {
  color: #d75555;
  font-weight: 500;
  transition: all 0.3s;
}
.drop-list-delete:hover {
  background-color: #d75555;
  color: #fff;
}

.action-btn, .download-btn {
  font-size: 0.813rem;
  padding: 0.188rem 0;
}

.download-btn {
  padding: 0.5rem 0;
}


.line{
  display: flex;
  flex: 1;
  height: 0.125rem;
  background-color: #5f8d4e;
  margin-bottom: 20px;
}

.q-select .q-item-section {
  background-color: #5f8d4e;
}

