.search-patients {
  .account-name-field, .search-by-btn {
    font-size: 16px;
    border: 1px solid #5F8D4E;
  }

  .age-box {
    width: 60px;
  }

  .filter-btn {
    width: 120px;
  }

  .add-new-patient-btn {
    border: 1px solid #5f8d4e;
  }

  .brgy {
    display: inline-grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
