@import "../css/quasar.variables.scss";

// Custom style for input field
.mhc-input-field {
  width: 125px;
  font-size: 12px;
  margin-bottom: 10px;
  &.q-field--dense .q-field__control {
    height: 28px;
  }
}

/**** Style for Select ****/
// .q-select .q-field__native {
//   color: $dark;
// }

.p-name {
  max-width: 220px;
  margin: auto;
  font-size: 24px;
}

.queue-number {
  font-size: 2.125rem;
}

.address-details {
  font-size: 0.875rem;
}

.mhc-table {
  border: 2px solid $primary;
}
// For THEAD
.q-table__top,
thead tr:first-child th {
  font-size: 1rem;
  font-weight: 600;
  color: $dark;
}
// FOR TBODY
tbody tr td {
  text-align: left;
  font-weight: 500;
  font-size: 0.875rem;
  color: $dark;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
tr {
  cursor: pointer;
}

// Router Link Active
.q-item.q-router-link--active {
  background-color: $primary;
}

.width-700 {
  width: 43.75rem;
}

.width-500 {
  width: 31.25rem;
}

.width-450 {
  width: 25rem;
}

.width-350 {
  width: 21.875rem;
}

.width-300 {
  width: 18.75rem;
}

.width-250 {
  width: 15.625rem;
}

.width-200 {
  width: 12.5rem;
}

.width-150 {
  width: 9.375rem;
}

.m-width-250 {
  max-width: 250px;
  margin: 10px auto;
}

.button-80 {
  width: 5rem;
}

.button-100 {
  width: 6.25rem;
}

.button-120 {
  width: 7.5rem;
}

.dialog-card {
  border: 2px solid $primary;
}

.mhc-select-200 {
  width: 12.5rem;
  .q-field__inner {
    background-color: $primary-2;
    border-radius: 5px;
  }
  .q-field__native {
    color: $dark;
  }
}

/*** Style for input icon ***/
.q-input .q-field__inner .q-icon {
  color: $primary;
  font-size: 1.25rem;
}

/*** Style for button icon ***/
.q-btn .q-icon {
  font-size: 1.188rem;
}

/*** Style for font***/
.text-18 {
  font-size: 1.125rem;
}
.text-20 {
  font-size: 1.25rem;
}
.text-24 {
  font-size: 1.5rem;
}
